
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
    <a href="/auth" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink='/products' routerLinkActive="active"><i class="fa fa-fw fa-search"></i> Product</a>
    <a routerLink="/cart" routerLinkActive="active"><i class="fa fa-fw fa-envelope"></i> My Cart</a>
    <button class="navbar-brand btn" (click)="onLogout() " [disabled]="!isAunthenticated ">LogOut</button>
    
  </div>